---
import Layout from "../layouts/Layout.astro";
import Card from "../components/searchbar.tsx";
import Navbar from "../components/navbar.astro";
---

<Layout title="Welcome to 3Dse!">
	<main>
		<Navbar transition:persist="navbar" />

		<div class="m-3 rounded-lg bg-green bg-opacity-90">
			<div
				class="max-w-screen-md mx-auto flex flex-col items-center justify-center"
			>
				<img
					class="my-6"
					src="/logo.svg"
					width="128"
					height="128"
					alt="the Fresh logo: a sliced lemon dripping with juice"
				/>
				<h1 class="text-4xl font-bold font2 text-cbase">
					Welcome to 3Dse!
				</h1>
				<p class="my-4 font3">
					Ur search engine for 3D printing models.<span
						class="ml-2 bg-surface0 rounded-lg p-1"
						><span
							class="font-bold bg-clip-text text-transparent bg-[linear-gradient(to_right,#f38ba8,#fab387,#89b4fa,#cba6f7,theme(colors.purple.400))] bg-[length:200%_auto] animate-gradient"
						>
							°˖✧◝(⁰▿⁰)◜✧˖°
						</span></span
					>
				</p>
			</div>
		</div>
	</main>
</Layout>
