---
import Card from "../components/card";
import Navbar from "../components/navbar.astro";
import Layout from "../layouts/Layout.astro";
import Results from "../components/results.tsx"
---

<Layout title="3dse">
  <main>
    <Navbar transition:persist="navbar" />

    <div>
      <Results client:only="solid-js" />
    </div>
    
  </main>
</Layout>
