---
import SearchBar from "./searchbar.tsx";

//@ts-ignore
import Nozzle from "~icons/mdi/printer-3d-nozzle"; 
//@ts-ignore
import User from "~icons/lets-icons/user-box-duotone"; 
---

<nav class={`m-3 p-2 rounded-xl bg-yellow`}>
    <div class="w-full h-full flex justify-between items-center">
        <a href='/'>
            <h1 class="flex items-end font-bold text-2xl font1 underline p-2 rounded-lg bg-flamingo text-surface1 outline hover:outline-red outline-transparent outline-2 w-full">
                3dse <Nozzle class='-ml-[3px] mb-[2px] inline' width={24} height={24} />
            </h1>
        </a>
        <div transition:persist>
            <SearchBar client:load  />
        </div>
        

        <a href='/user'>
            <button class='text-2xl p-2 rounded-lg bg-flamingo text-surface1 outline hover:outline-red outline-transparent outline-2'>
                {/* <Icon icon="solar:user-rounded-bold-duotone" inline></Icon> */}

                <User  width={30} height={30}></User>
            </button></a>
    </div>
</nav>