---
interface Props {
	title: string;
}

const { title } = Astro.props;

// import '/styles.css';
import { ViewTransitions, fade } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" type="text/css" href="/styles.css" />

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="mocha">
		<slot />
	</body>
</html>